{% extends 'base/base.html' %}

{% block title%}{{user.username}}{% endblock%}

{% block content%}
<div class="p-10 lg:p-5 text-center">
    <h1 class="text-4xl lg:text-4xl text-white">
        {{room.name}}
            {% comment %} {% for user in users_in_room%}
            {% if not request.user.username == user.username%}
                Chat with {{ user.username }}
            {% endif %}
            {% endfor %}  {% endcomment %}
    </h1>
</div>
<style>
    
</style>

<style>
 .tooltip:hover .absolute {
    visibility: visible;
    opacity: 1;
  }
</style>



<div class='flex justify-center '>
<button onclick='addUsersDropdown()'
 class="px-5 py-3 rounded-xl text-white bg-teal-700 hover:bg-teal-700 hover:bg-sky-700"
id='add-users'>Add Users</button>
<div id="add-users-dropdown" class="hidden z-10 bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
    <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        {% for user in users %}
        <li>
          <p onclick='addUserHandler("{{user.username}}")' class="block px-4 py-2 hover:bg-gray-200 dark:hover:bg-gray-600 dark:hover:text-white">{{user.username}}</p>
        </li>
        {% endfor %}
    </ul>
</div>
</div>







<div class='overflow-y-scroll h-2/4 relative  mx-auto bg-white dark:bg-slate-800 shadow-lg ring-1 ring-black/5 rounded-xl flex flex-col divide-y dark:divide-slate-200/5 lg:w-2/4 mt-6 mx-4 lg:mx-auto' id='messages-wrapper'>

    <div id=next_page_button>
    {% if messages.has_next %} 
        <div class='flex justify-center text-neutral-400 hover:text-black'>
            <button onClick='nextPageHandler({{messages.next_page_number}},{{room.id}})'>load earlier messages</button>
        </div>
    {% endif %}
    </div>
    <div class='chat-messages space-y-3  p-2' id='messages-list'>
        <div id='earlier-messages' class='space-y-3 p-2 flex flex-col mt-2'></div>
        <div class='chat-messages space-y-3 p-2 mt-2' id='chat-messages'>
            {% for message in messages.messages %}
                {% if request.user.username == message.sent_by.username %}
                    <div class='p-4 bg-gray-200 rounded-xl w-1/2 ml-auto' id=messId{{message.id}} style="order:${data.id}">
                        <p class='font-semibold'>{{message.sent_by.username}}</p>
                        <p>{{message.content}}</p>
                        <div class="tooltip flex flex-auto justify-end">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                            </svg>                          
                            <div class='absolute text-white bg-gray-800 rounded-md p-2 opacity-0 visibility-hidden transition-opacity' id='seen-by-{{message.id}}'>
                            {% for mess in message.seen_details %}
                                {% if mess.username != request.user.username %}
                                    <p class='text-orange-600'>{{mess.username}}<p>
                                    <p class='text-black'>{{mess.seen_at}} </p>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class='p-4 bg-gray-200 rounded-xl w-1/2' id=messId{{message.id}} style="order:${data.id}">
                        <p class='font-semibold'>{{message.sent_by.username}}</p>
                        <p>{{message.content}}</p>
                    </div> 
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class='lg:w-2/4 mt-6 mx-4 lg:mx-auto p-4 bg-white rounded-xl'>
    <form method='post' action="{% url 'mark_as_read' %}" class='flex' id='send-message-form'>
        {% csrf_token %}
        <input type='text' name='content' class='p-2 flex-1 mr-3' placeholder='Type your message...' id='chat-message-input'/>
        <button
            class='px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700 disabled:bg-gray-200 disabled:text-black'
            id='chat-message-submit' disabled>Send</button>
    </form>
    <form hidden>
        {% csrf_token %}
        <input hidden value={{room.id}} name='room-id'/>
        <input hidden value={{request.user.username}} name='seen-user'/>
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ room.slug|json_script:"json-roomname"}}
{{ room.id|json_script:"json-room_id" }}
{{ request.user.username|json_script:"json-sent_by"}}
{{ room.created_with.username|json_script:"json-created_with"}}
{{ messages.messages|json_script:"json-messages-data"}}


<script>
    const requestUser = JSON.parse(document.getElementById('json-sent_by').textContent);
    const messagesData = JSON.parse(document.getElementById('json-messages-data').textContent);

    const renderHTMLById = (id, html) => {
        console.log('render Html')
        div = document.createElement("div")
        div.innerHTML = html
        document.querySelector(`#${id}`).innerHTML += html
        {% comment %} document.querySelector(`#${id}`).insertBefore(div, document.querySelector(`#${id}`).firstChild) {% endcomment %}
        
    }

    function addUserHandler(user){
    }

    function addUsersDropdown () {
        document.querySelector('div[id=add-users-dropdown]').classList.toggle('hidden');
    }

    function make_messages_html(data){
        var html = `<div class='p-4 bg-gray-200 rounded-xl w-1/2' id=messId${data.id} style="order:${data.id}">
            <p class='font-semibold'>${data.sent_by.username}</p>
            <p>${data.message ? data.message : data.content}</p>
            </div>`
        
        if (requestUser == data.sent_by.username){
            html = `<div class='p-4 bg-gray-200 rounded-xl w-1/2 ml-auto' id=messId${data.id} style="order:${data.id}">
                <p class='font-semibold'>${data.sent_by.username}</p>
                <p>${data.message ? data.message : data.content}</p>
                <div class="tooltip flex flex-auto justify-end">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                    </svg>    
                    <div class='absolute text-white bg-gray-800 rounded-md p-2 opacity-0 visibility-hidden transition-opacity' id='seen-by-${data.id}'>
                    ${data.seen_details ? (data.seen_details.map((u)=>{
                        if ( u.username != requestUser){
                            return `<p class='text-orange-600'>${u.username}<p>
                                    <p class='text-black'>${u.seen_at}<p>`
                        }}).join('')) : ''}
                    </div>
                </div>
            </div>`
        }
        return html
    }

    const nextPageHandler = (pageNum, roomId) => {
        console.log('next page handler')
        fetch(`{% url "get_messages" room.id %}?page=${pageNum}&is_json=1`,{
        }).then(res=>res.json())
        .then((data)=>{
                messagesIds = data.messages.messages.map((m)=>{
                    return m.id
                }) 
                const unseenMessagesIds = getUnseenMessages(data.messages.messages)
                unseenMessagesIds.length > 0 && mark_as_read(unseenMessagesIds)

                for (let i = 0; i < data.messages.messages.length; i++){
                    html = make_messages_html(data.messages.messages[i])
                    renderHTMLById('earlier-messages', html)
                }
                if (data.messages.has_next){
                    html = `<div class='flex justify-center text-neutral-400 hover:text-black'>
                        <button onClick='nextPageHandler(${data.messages.next_page_number},${roomId})'>load earlier messages</button>
                    </div>`
                    document.querySelector('div[id=next_page_button]').innerHTML = html
                } else {
                    document.querySelector('div[id=next_page_button]').innerHTML = ''
                }
                })
            }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + "=")) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }

    const isSeenBtnElm =  document.querySelector('button[name=is-seen]')

    var isFocused = (document.activeElement === isSeenBtnElm);
                                                                 
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent)
    const roomNameTrimed = roomName.replaceAll(/\s/g,'')
    const roomID = JSON.parse(document.getElementById('json-room_id').textContent);
    
    const createdWithUser = JSON.parse(document.getElementById('json-created_with').textContent);

    const chatSocket = new WebSocket(
        'ws://' 
        + window.location.host
        + '/ws/chat/'
        + roomNameTrimed + '/' + roomID.toString() +'/'
    )

    const mark_as_read = (messIds) => {
        console.log('mark_as_read')
        const seenUser = document.querySelector('input[name=seen-user]').value
        chatSocket.send(JSON.stringify(
            {mark_as_read: true,
            messages_ids: messIds,
            seen_by_user: seenUser,
            message_sent_by: 'heheh'
            }
        )) 
        roomId = document.querySelector('input[name=room-id]').value
        const data = JSON.stringify({room_id: roomId, user:seenUser, messagesIds: messIds})
    }

    function getUnseenMessages (messagesData)  {
        console.log('getUnseenMessages')
        let unseenMessages = null
        unseenMessages = messagesData.map((m)=>{
            // check if message is sent by request user
            if (m.sent_by.username != requestUser){
                console.log('mess from another user')
                // check if seen_by is not empty
                if (m.seen_details){
                    // unseen return if request user already in seen_details
                    unseen = m.seen_details.find((s)=>s.username == requestUser)
                    unseen ? console.log('is already seen') : console.log('not seen')
                    return (unseen) ? undefined : m 
                } else {
                    console.log('not seen')
                    return m
                }
            }  
        })
        // map only id 
        for (let i = 0; i < unseenMessages.length; i++){
            if (unseenMessages[i]){
                unseenMessages[i] = unseenMessages[i].id
            }
        }
        // remove undefined
        unseenMessagesIds = unseenMessages.filter(m=>m !== undefined)
        console.log(unseenMessagesIds, unseenMessagesIds.length)
        return  unseenMessagesIds
    }
    chatSocket.onopen = () => {
        console.log('connected')
        document.querySelector('button[id=chat-message-submit]').disabled = false
        document.querySelector('div[id=messages-wrapper]').scrollTo(
            0, document.querySelector('div[id=messages-wrapper]').scrollHeight)

        const unseenMessagesIds = getUnseenMessages(messagesData)
        unseenMessagesIds.length > 0 && mark_as_read(unseenMessagesIds)
    }
    chatSocket.onmessage = (e) => {
        console.log('onmessage')
        const data = JSON.parse(e.data)
        console.log(data)
        // check if message is mark_as_read
        if (data.mark_as_read){
            for (id of data.message_ids){   
                if (data.seen_by_username != requestUser){
                    if (document.querySelector(`div[id=seen-by-${id}]`)){
                        document.querySelector(`div[id=seen-by-${id}]`).innerHTML += `
                        <p class=text-orange-600>${data.seen_by_username}</p>
                        <p class=text-black>${data.seen_at}</p>`
                    }
                } 
            }
        }
        // new message
        else{
            html = make_messages_html(data)
            if (data.message){
                renderHTMLById('chat-messages', html)
                document.querySelector('div[id=messages-wrapper]').scrollTo(
                    0, document.querySelector('div[id=messages-wrapper]').scrollHeight)
                const unseenMessagesIds = getUnseenMessages([data]) 
                unseenMessagesIds.length > 0 && mark_as_read([data.id])
            } 
            else {
                alert('message empty')
            }
        }
    }

    chatSocket.onclose = () => {
        console.log('onclose')
    }

    // listen send button
    document.querySelector('button[id=chat-message-submit]').onclick = (e) => {
        e.preventDefault();
        const messageInputElm = document.querySelector('input[id=chat-message-input]')
        const message = messageInputElm.value
        chatSocket.send(JSON.stringify({
            message: message,
            sent_by: {username: requestUser},
            created_with: createdWithUser,
            room: roomName
        }));
        messageInputElm.value = '';
    }
</script>
{% endblock%}